@use 'mixins' as m;

.download {
  padding-top: 14rem;
  padding-bottom: 14rem;

  @include m.responsive-size-up(medium) {
    padding-top: 17rem;
    br {
      display: none;
    }
  }

  &__button {
    margin-top: 3.5rem;
    @include m.final-button();
  }
}
