// Colors //

// Primary
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
// Neutral
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

// SVG
$svg-fill: #4c545c;

// Font //
$font-main: "Bai Jamjuree", sans-serif;

$fw-semi-bold: 600;
$fw-regular: 400;
